
/* apply a natural box layout model to all elements, but allowing components to change */
html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
cursor:url(assets/fortunecookie-cursor.png),auto;
}

body{
text-align: center;
padding: 100px 0 0 0;
background-image: url('assets/fc_background.svg');
font-family: 'Gloria Hallelujah', cursive;
position:relative;
}

h1{
font-size: 80px;
box-sizing: border-box;
position: relative;
color:#f7df9c;
/* padding: 20px 30px; */
}

.fc {
animation: rotation 2s infinite linear;
width:6em;
height:6em;
opacity:90%;
}

#getFC{

color:black;
background-color:#f7df9c;
font-size: 60px;
font-family: 'Vollkorn', serif;
padding: 15px 32px;
/* position: center;; */
margin: 10px;

}


.button {
background-color:#88040a;
border-color: #f7df9c;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;

font-family: 'Vollkorn', serif;
font-size: 40px;
/* replace cursor with cookie */

}

.textarea{

padding:15px 32px;
width:width/2;
height:height/2;
box-sizing: content-box;
justify-content: center;
position: absolute;


}



.button:hover{

background-color:#f7df9c;
color:black;

}
.button.active{

color:black;
}


@keyframes rotation {
from {
transform: rotate(0deg);
}
to {
transform: rotate(359deg);
}
}


/* place fortune cookies in random places - depending on the mouse position */


/* or the item rotates according to the mouse direction */

/* box of generating the fortune */

/* animation of the white paper */

/* generate sound as well */