
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
background-image: url('assets/fc_background.svg');
}

animate{
  animation: rotation 2s infinite linear;
  position: relative;
  width: 20px;
  height: 20px;

}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}



/* place fortune cookies in random places - depending on the mouse position */


/* or the item rotates according to the mouse direction */

/* box of generating the fortune */


/* animation of the white paper */

/* generate sound as well */